name: Deploy Documentation

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push to the gh-pages branch

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install jupyter-book pandas numpy matplotlib scipy scikit-learn

    - name: Build FMA Course Book
      run: |
        jupyter-book build fma_course/

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./fma_course/_build/html
