name: Run Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest nbval pandas numpy matplotlib scipy jupyter-book scikit-learn

    - name: Test with pytest and nbval (FMA Course)
      run: |
        pytest --nbval-lax fma_course/
